<template>
  <button @click="modifyLeftDrawerOpen()">Modify</button>
  <div>
    <!-- Works -->
    Drawer Status: {{ getLeftDrawerOpen() }}

    <!-- Does not work -->
    <!-- Drawer Status: {{ drawer }} -->
    
    <!-- Does work (from relay coder task 1) -->
    Drawer Status 2: {{ drawer2() }}
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { mapActions, mapGetters } from 'vuex';
import { ActionTypes, GetterTypes } from "../store/layout";

export default defineComponent({
  setup: () => {
    const {
      [GetterTypes.GET_LEFT_DRAWER_OPEN]: getLeftDrawerOpen
    } = mapGetters("layout", [GetterTypes.GET_LEFT_DRAWER_OPEN]);
    const {
      [ActionTypes.MODIFY_LEFT_DRAWER_OPEN]: modifyLeftDrawerOpen
    } = mapActions("layout", [ActionTypes.MODIFY_LEFT_DRAWER_OPEN]);

    // Does not work
    // const drawer = computed(() => getLeftDrawerOpen());

    // Does work (from relay coder task 1)
    const drawer2 = computed(() => getLeftDrawerOpen);

    return {
      //drawer,
      drawer2,
      getLeftDrawerOpen,
      modifyLeftDrawerOpen
    }
  }
});
</script>
